@model IEnumerable<AhmadHRManagementSystem.Models.EmployeeDepartment>

@{
    ViewData["Title"] = "Index";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}

@if (TempData["UpdateMessage"] != null)
{
    <div class="alert alert-success">@TempData["UpdateMessage"]</div>
}

<h2 class="text-center">Employee Department List</h2>
<div class="d-flex justify-content-between">
    <a class="btn btn-primary my-2 mb-3" asp-action="Create">
        <i class="bi bi-plus-circle me-2"></i>Add New Employee Department
    </a>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead class="text-center">
            <tr class="text-center">
                <th>Id</th>
                <th>DepartmentName</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var empDepartment in Model.OrderBy(e => e.Id))
            {
                <tr class="text-center">
                    <td>@empDepartment.Id</td>
                    <td>@empDepartment.DepartmentName</td>
                    <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-controller="EmployeeDepartment" asp-route-id="@empDepartment.Id"><i class="bi bi-pencil-square me-2"></i>Edit</a>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-controller="EmployeeDepartment" asp-route-id="@empDepartment.Id"><i class="bi bi-trash3-fill me-2"></i>Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

